<table>
  <tbody>
  <tr>
    <th style="text-align: right">Enabled</th>
    <td>
      <%= hidden_field_tag 'settings[bot_enabled]', 0, :id => nil %>
      <%= check_box_tag 'settings[bot_enabled]', 1, @settings["bot_enabled"].to_i > 0 %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right">Bot Token</th>
    <td>
      <input type="text" id="settings_bot_token"
             size="50"
             value="<%= settings['bot_token'] %>"
             name="settings[bot_token]" >
    </td>
  </tr>
  <tr>
    <th style="text-align: right">Bot Username</th>
    <td>
      <input type="text" id="settings_bot_username"
             size="50"
             value="<%= settings['bot_username'] %>"
             name="settings[bot_username]" >
    </td>
  </tr>
  <tr>
    <th style="text-align: right">Help message</th>
    <td>
      <%= text_area_tag("settings[help]", settings[:help], rows: 10) %>
    </td>
  </tr>
  <tr>
    <th style="text-align: right">Welcome message</th>
    <td>
      <%= text_area_tag("settings[welcome]", settings[:welcome], rows: 10) %>
    </td>
  </tr>
  <% project_ids = settings['notified_project_ids'].to_a %>
  <tr>
    <th style="text-align: right">Use for projects</th>
    <td>
    <%= content_tag 'fieldset', :id => 'notified-projects' do %>
      <%= render_project_nested_lists(Project.all) do |project|
        content_tag('label',
                    check_box_tag(
                      'settings[notified_project_ids][]',
                      project.id,
                      project_ids.include?(project.id.to_s),
                      :id => nil
                    ) + ' ' + h(project.name),
                    :style => 'all: revert;'
        )
      end %>
      <%= hidden_field_tag 'settings[notified_project_ids][]', '' %>
    <% end %>
    </td>
  </tr>
  </tbody>
</table>
